body {
	/*
	margin: 0px;
	margin-top: 11vh;
	margin-bottom: 11vh;
	font-family: sans-serif;
	*/
}

.selfservice-wrapper,
.selfservice-wrapper h1,
.selfservice-wrapper h2,
.selfservice-wrapper h3,
.selfservice-wrapper h4,
.selfservice-wrapper h5 {
	/*
	left: 0;
	right: 0;
	margin-left: 1vw;
	margin-right: 1vw;
	height: 78vh;
	position: relative;
	z-index: 0;
	*/
	font-size: 3.5vh;
}

.selfservice-wrapper nav {
	height: 10vh;
	font-size: 3.5vh;
	min-height: 10vh;
}

.selfservice-wrapper nav div {
	font-size: 3.5vh;
}

.selfservice-wrapper nav button {
	height: 8vh;
	margin-top: 1vh;
	margin-bottom: 1vh;
	font-size: 3.5vh;
}

.selfservice-wrapper nav input {
	height: 8vh;
	margin-top: 1vh;
	margin-bottom: 1vh;
	font-size: 3.5vh;
}

.selfservice-wrapper nav button kbd {

}

.selfservice-wrapper .progress {
	height: 6vh;
	border-radius: 0;
}

.selfservice-wrapper .progress .progress-bar {
	font-size: 3.5vh;
	line-height: 5vh;
}

.selfservice-wrapper .table {

}

.selfservice-wrapper .column-item-product-name {
	width: 60vw;
}

.selfservice-wrapper .column-item-quantity-price {
	width: 20vw;
	font-style: italic;
	text-align: right;
}

.selfservice-wrapper .column-item-total-price {
	width: 20vw;
	font-weight: bold;
	text-align: right;
}

.selfservice-wrapper .help-container {
	margin-top: 15vh;
}

.selfservice-wrapper .help-image {
	height: 45vh;
}
