body {
	margin: 0px;
	margin-top: 11vh;
	margin-bottom: 11vh;
	font-family: sans-serif;
}

#topbar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 10vh;
	margin-left: 1vw;
	margin-right: 1vw;
	padding-left: 1vw;
	padding-right: 1vw;
	background: linear-gradient(#E7803A,#FFA86C);
	display: block;
    border-radius: 1vmin;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 3px 3px 5px #888888;
    z-index: 10;
}

#bottombar {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 10vh;
	margin-left: 0vw;
	margin-right: 0vw;
	padding-left: 1vw;
	padding-right: 1vw;
	background: #DDDDDD;
	display: block;
  box-shadow: 0px -4px 8px #BBBBBB;
  z-index: 10;
}

#topbar-content {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	display: table;
}

#bottombar-content {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	display: table;
}

#main {
	left: 0;
	right: 0;
	margin-left: 1vw;
	margin-right: 1vw;
	height: 78vh;
	position: relative;
	z-index: 0;
}

#username {
	color: #FFF;
	font-size: 7vh;
	display: table-cell;
	vertical-align: middle;
}

#userbalance {
	color: #FFF;
	font-size: 7vh;
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}

#inputtext {
	color: #FFF;
	font-size: 7vh;
	display: table-cell;
	vertical-align: middle;
}

#totalprice {
	color: #FFF;
	font-size: 7vh;
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	width: 15vw;
}

#cart {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	font-size: 3vw;
}

#cart div {
	width: 100%;
	display: table;
}

.item-quantity {
	display: table-cell;
	width: 7vw;
}

.item-name {
	display: table-cell;
}

.item-price {
	display: table-cell;
	text-align: right;
	width: 13vw;
}

#throbber {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 10vmin;
	height: 10vmin;
	background-image: url(../images/throbber.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	display: none;
}

#errorbox {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	padding: 1vmin;
	width: 40vw;
	height: 40vh;
	border-radius: 1vmin;
	background-color: rgba(255,0,0,0.7);
	display: none;
}

#errorbox-content {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	display: table;
}

#error-message {
	color: #FFF;
	font-size: 7vmin;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
